.toast{
    background-color: black;
}
.horizontal{
    display: flex;
    align-items: center;

}
.horizontal p {
    padding: 0px 10px;
}
.line{
    width: 50%;
    height: 1px;
    background-color:#22577e ;
}
.icons{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding: 15px 0px;
}
.google-icon{
    font-size: 40px;
    cursor: pointer;
}
.facebook-icon {
    font-size: 40px;    
    color: blue;
    cursor: pointer;
}
.github-icon{
    font-size: 40px;
    cursor: pointer;

}
#term{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 10px;
}
.term-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 15px 0px;
}

.none-checked{
    color: red;
}
.checked{
    color: #22577e;
}