.links {
  background-color: #22577e;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}
.logo {
  color: white;
  font-family: "Teko", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: white;
  
  margin: 0px 15px;
  font-weight: 400;
}
.activeLink {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  transform: scale(1.1);

  margin: 0px 15px;
  transition: 0.1s;
  font-weight: 500;
}
.logout-button{
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 0px 15px;
  font-weight: 500;
  font-size: 16px;

}